In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Raw data file
file_to_load = "public_train_x_dp_full_hashed.csv"
load = "public_train_x_ccba_full_hashed.csv"
load1 = "public_train_x_cdtx0001_full_hashed.csv"
load2 = "public_train_x_custinfo_full_hashed.csv"
load3 = "public_train_x_remit1_full_hashed.csv"
load4 = "train_y_answer.csv"
load5 = "public_x_alert_date.csv"

# Read purchasing file and store into pandas data frame
dp_full = pd.read_csv(file_to_load)
ccba = pd.read_csv(load)
cdtx = pd.read_csv(load1)
custinfo = pd.read_csv(load2)
remit = pd.read_csv(load3)
ans_y = pd.read_csv(load4)

In [3]:
from scipy.stats import mode
new_remit = remit.copy()

new_remit['daily_amt'] = remit.groupby(['cust_id', 'trans_date'])['trade_amount_usd'].transform('sum')
new_remit['daily_counts'] = remit.groupby(['cust_id', 'trans_date'])['trade_amount_usd'].transform('count')

new_remit['MODE'] = remit.groupby(['cust_id', 'trans_date'])["trans_no"].transform(lambda x: x.mode().iloc[0])
new_remit = new_remit.drop(columns=['trade_amount_usd','trans_no'])
  
new_remit = new_remit.drop_duplicates()
# new_remit[new_remit["daily_counts"]==4]
# new_remit["cust_id"].unique()
new_remit

,cust_id,trans_date,daily_amt,daily_counts,MODE
0,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,148,100528.0,1,0
1,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,165,100528.0,1,0
2,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,231,89479.0,1,0
3,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,291,100528.0,1,0
4,01b1735c3dbf0a35c1c989bb45434ce4326b365b73db06...,389,30158.0,1,0
...,...,...,...,...,...
17162,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,244,33788.0,1,0
17163,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,284,91318.0,1,4
17164,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,298,83201.0,1,0
17165,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,316,99233.0,1,0
17166,ff6c1217b5e039fda46bf4dfba2d54291154a1db54c677...,386,88236.0,1,0